* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: block;
}

h2 {
    text-align: center;
    color: #f4f4f4
}

.container-fluid {
    max-height: auto;
}

.searchColumn {
    background-color: lightgray;
    padding: 10px;
}

.btn-light {
    border: solid 1px lightgray;
    margin: 2px;
}

#currentDayRow {
    display: block;
    margin: 5px;
    border: solid 1.5px lightgray;
    border-radius: 4px;
    padding: 10px;
}

.moderate {
    background-color: green;
}

.warning {
    background-color: orange;
}

.danger {
    background-color: red;
}

span {
    padding: 5px;
    border-radius: 4px;
    color: white;
}

.cardRow {
    margin-left: 4px;
}

.card {
    margin: 0px 10px;
}

.card-title {
    font-size: 17px;
}

.card-text {
    font-size: 14px;
}