* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: block;
}

h2 {
    text-align: center;
    color: #f4f4f4
}

.container-fluid {
    max-height: auto;
}

.searchColumn {
    background-color: lightgray;
}

#currentDayRow {
    display: block;
}

.card {
    margin: 0px 10px;
}